<div style="text-align:center">
  <h1 [style.font-size.em]="myHelloComponent.namesList.length > 0 ? 2: 1.5">    
    Let's learn Angular
  </h1>

  <!-- event emitter -->
  <div [class.hidden]="myHelloComponent.inputName.length == 0">
    <!-- property binding ngClass -->
    <span [ngClass]="updateNameClassComponent(myHelloComponent.inputName)">
      '{{myHelloComponent.inputName}}' 
    </span>  in input component
  </div>
  <br>
  
  <custom-hello #myHelloComponent (sayHello)="onSayHello($event)">
  </custom-hello>

</div>